# Gradle files
/.gradle
/gradle
/build
gradlew
gradlew.bat

# .idea files
.idea

# Scala binaries
*.class
*.tasty
/bin/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
