# Gradle files
/.gradle
/gradle
/build
gradlew
gradlew.bat

# IDEs
.idea
.vscode


# Scala binaries
*.class
*.tasty
/bin/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# SBT
target
project